*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather",sans-serif;
    background-color:#ebf2ff;

}
.primary__button{
    
    background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    color: white;
    padding: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__brand{
    width:100px;
}
.navbar__logo{
    width: 100%;
}

.container{
    width: 100%;
    margin :0 auto;
    padding: 0 15px;
   

}
.hero__container{
    width: 100%;
    position: relative;
}
.hero__image__container{
    width: 100%; 
    display: flex;
    
    flex-wrap: wrap;
    
   
}
.hero__image{
    width: 100%;
   
    
    
}
/* .hero__pattern{
   
    position: absolute;
    
    margin-left: 40px; */

/* } */
.hero__shape{
   
    position: absolute;
    margin-top: -35px;
    margin-left: -11px;  
    
    
}
.hero__text__description{
     margin-top: 42px;
}

.text__description{
    top: 7px;
    color:#1d3557;
}
#primary__button_hero{
    margin-top: 8px;

}
/* Explore menu items */

.explore__menu__head{
    color:#1d3557;
    text-align: center;
    margin-top: 25px;
    
}
.container2{
    width: 100%;
  
}

.food__explore__images{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.food__menu__card{
    margin-top: 5px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
  
}
.food__menu__image{
    width:100%;
  
}
.food__title{
    color:#1d3557 ;

}
.food__menu__text{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
}
.explore__special__design{
    color: red;
}
/* stay updated section */
.stay__updated__text{
    margin-top: 34px;
    font-size: 27px;
    color: #1d3557;
    text-align: center;
}
#stay__email{
    height: 31px;
    width: 85%;
    border-radius: 4px;
    text-align: center;
}
.stay__email__updates{
    text-align: center;
    margin-top: 12px;
}
.get__updated__button{
    text-align: center;
    margin-top: 12px;
}

@media(min-width:768px){
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
}

.navbar__brand{
    width:150px;
}
.hero__container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
   
}
/* explore menu */
.container2{
    position: relative;
    top: 38px;
}
.explore__food__items{
    display: flex;
    gap: 18px;
    padding:42px;
    margin-top: 25px;
    
}
.explore__menu__gradient__bg{
    position: absolute;
    background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    height: 100%;
    width: 100%;
   z-index: -3; 
  transform: skewY(-7deg); 
   
   
}
.explore__menu__head{
    margin-top: 40px;
    font-size: 22px;
}
#food__menu__pizza{
    margin-top: -23px;
    margin-bottom: 23px;
}
.explore__button{
    text-align: center;
}
/* stay updated */
.stay__updated{
    margin-top: 100px;
}
#stay__email{
    font-size: 12px;
    font-weight: bold;
}
}
@media(min-width:1020px){
    .hero__container{
    padding: 0px 35px;
}
.hero__image__container{
    width: 100%;
    position: relative;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    overflow: none;
}
.hero__image{
    width: 100%;
}
.hero__pattern{
    position: absolute;
 
}
.hero__shape{
    position: absolute;
margin-top: -10px;
margin-left: -7px;
width: 100%;
top: -56px;
}
.explore__food__items {
    gap: 25px;
    padding: 50px;
   
}
/* stay updated */
.stay__updated{
    margin-top: 10rem;
}
.stay__updated__text{
    font-size: 35px;
}
.stay__updated__description{
    display: flex;
    gap: 13px;
    padding-left: 290px;
    align-items: center;
    width: 100%;
}
#stay__email{
    width:27rem
}
}
@media(min-width:1400px){
.primary__button {
       
        height: 50px;
        width: 117px;
        font-size: 16px;
    }
.text__description{
    font-size: 35px;
}
.hero__shape{
    top: -82px;
}
#stay__email{
    width: 29rem;
    height: 43px;
    font-size: 18px;
    margin-left: 8rem;
}
/* .explore__button{
     font-size: 26px; */
/* } */

}